
.header {
    margin-top: 0%;
    background-image:url("https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_960_720.jpg");
    padding: 65px 450px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
}
.header > .page-icon {
    display: none;
}
.nav {
    border-bottom: 3px solid rgb(140, 161, 182);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;   
}
.item li {
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 80px;
}
.item li > a {
    text-decoration: none;
    color:black;
}
.item li > a:hover {
    transition: all 1s;
    font-style: italic;
    font-size: 1.2em;
    color: grey;
}

/* 메인 */
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
}
.main-grid div {
    background-image:url("https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg");
    color: white;
}
.main-grid div > h3 , div > p {
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 메인 -1 비디오 */
.main-grid .video {
    grid-column: 1/2;
    grid-row: 1/2;
}
.video iframe {
    display: block;
    margin: auto;
}
/* 메인 -2 인기게시물 */
.main-grid .popular {
    grid-column: 1/2;
    grid-row: 2/4;
}
.popular a, .brands a {
    text-decoration: none;
    color:blanchedalmond;
}
.popular a:hover, .brands a:hover {
    font-size: 1.2em;
    font-weight: bolder;
}
.refimg {
    display: block;
    margin: auto;
    width: fit-content;
}
.texts {
    text-align: center;
}
/* 메인 -3 브랜드관 */
.main-grid .brands {
    grid-column: 2/4;
    grid-row: 1/3;
}

/* 메인 -4  신제품 */
.main-grid .new-arrival {
    grid-column: 2/4;
    grid-row: 3/4;
}
.new-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item span::after {
    content: "New ";
    width: 22px;
    background-color: orange;
    color: aliceblue;
    border-radius: 100%;
}

/* 푸터 영역 */
.footer {
    background-image:url("https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_960_720.jpg");
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.foot-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 250px;
}
.foot-1 {
    list-style-type: none;
    text-align: center;
    padding: 10px 10px;
}

.foot-2 {
    list-style-type: none;
    text-align: left;
    padding: 10px 10px;
}


/* 모바일크기 보여질 화면 - width값 576px이하 */
@media screen and (max-width:576px) {
    .header > .title {
        display: none;
    }
    .header > .page-icon {
        display: block;
        width: fit-content;
    }

    .nav .container-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .main-grid {display: block;}
    .brands .refimg {width: 350px;}
    .footer {display: block}

};